@import url("https://use.typekit.net/lit8ifc.css");

/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  background-color: #F2F2F2;

}

body {
  font-family: "proxima-nova", sans-serif;
  color: #000;
}

p,
.artist-list li,
.work-list li{   
font-family: "proxima-nova", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #000000;
text-transform: uppercase;
letter-spacing: 20%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
cursor: default;
}

.project-title p{
display: inline-block;
font-family: "proxima-nova", sans-serif;
font-style: normal;
font-weight: 400;
line-height: 24px;
font-size: 24px;
letter-spacing: 0;
color: #000000;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  position: fixed;
  top: 16px;
  right: 8px;
  z-index: 999;
  width: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}

.mobile-hide {
    display: none;
}

.project-list{
    padding: 0 8px;
}

.project-row{
    padding: 16px 14px;
    border-top: 1px solid #000;
    position: relative;
}

.project-list .project-row:nth-of-type(2) {
    border-top: none;
}

.work-list li:not(:last-child)::after {
    content: ', ';
}

ul.work-list{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

ul.artist-list{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 8px 0px;
}

ul.artist-list li{
    padding: 4px 8px;
}

.featured-image,
.artist-image {
    position: fixed;
    top: 0px;
    right: 0px;
    width: auto;
    max-width: 50%;
    height: auto;
    z-index: 1000;
    display: none;
}

.project-row:has(.project-title p:hover) .featured-image,
.project-row .project-title ul li:hover .artist-image {
    display: block;
}

@media (min-width: 768px) {
    .mobile-hide {
        display: grid;
    }

    .top-row{
        padding:0px 16px 24px 16px; 
    }

    .project-list{
        padding: 40px;
    }

    .project-row{
        padding: 24px 16px;
        border-top: 1px solid #000;
    }

    .grid-container {
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
    }

    .grid-container > :nth-child(1) {
        grid-column: span 6;
    }

    .grid-container > :nth-child(2),
    .grid-container > :nth-child(3) {
        grid-column: span 3;
    }

    .logo{
        width: 64px;
        top: 40px;
        right: 40px;
    }

    p{
        font-size: 16px;
        line-height: 16px;
    }

    .project-title p{
        font-size: 40px;
        line-height: 40px;
    }

    ul.artist-list{
        padding: 0px;
        padding-top: 16px;
        gap: 16px;
    }

    ul.artist-list li{
        padding: 0px;
        font-size: 16px;
    }

    ul.artist-list li:nth-child(odd) {
        background-color: transparent;
    }

    ul.work-list{
        flex-direction: column;
        gap: 16px;
    }

    .work-list li{
        font-size: 16px;
    }

    .work-list li:not(:last-child)::after {
        content: ' ';
    }

    .featured-image,
    .artist-image {
        top: 40px;
        right: 40px;
    }
}
